body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

     /*main-header */
.main-header
{
background: #4A8878;
}
.main-nav
{
  display: flex;
  justify-content: space-evenly;
}
.nav-icons
{
  display: flex;
  justify-content: space-evenly;
}